* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(140, 201, 171);
    text-align: center;
   
}
.cont1{
   
    margin: 0% 40%;
    
}


h1 {
    margin: 1% 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(57, 179, 138);
   
    border-radius: 10px;
    border-style: double;
    color: rgb(0, 0, 0);
}




dl{
    line-height:2em;
    
}
dt, dd , h2{
    margin:  30px;
    font-size: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(230, 223, 223);
    border-radius: 10px;
    width: 280px;
    height: 40px;
    
}

h2{
    font-size:150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: rgb(140, 201, 171);
    
}